force-app/main/default/flows/Update_Inventory.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Modify_Inventory</name>
        <label>Modify Inventory</label>
        <locationX>778</locationX>
        <locationY>214</locationY>
        <assignmentItems>
            <assignToReference>InventoryItem.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Inventory.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InventoryItem.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Inventory.Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InventoryItem.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Inventory.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InventoryItem.ExternalId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Inventory.ExternalId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InventoryItem.Picture_Url__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Inventory.Picture_Url__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InventoryItem.Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Inventory.Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InventoryItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalculateInventory</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InventoryItem.Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Inventory.Title__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Inventory</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>CalculateInventory</name>
        <dataType>Number</dataType>
        <expression>{!Get_Inventory.Quantity__c} - {!singleItem.Qty__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>waittime</name>
        <dataType>DateTime</dataType>
        <expression>NOW() +1 * (1/24/60)</expression>
    </formulas>
    <interviewLabel>Update Inventory {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Inventory</label>
    <loops>
        <name>Bundle_Item_Loop</name>
        <label>Bundle Item Loop</label>
        <locationX>365</locationX>
        <locationY>78</locationY>
        <assignNextValueToReference>singleItem</assignNextValueToReference>
        <collectionReference>Get_Bundle_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Merchandise</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Bundle_Items</name>
        <label>Get Bundle Items</label>
        <locationX>211</locationX>
        <locationY>66</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bundle_Item_Loop</targetReference>
        </connector>
        <filters>
            <field>Bundle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BundleId</elementReference>
            </value>
        </filters>
        <object>Bundle_Item__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Bundle__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Merchandise__c</queriedFields>
        <queriedFields>Qty__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Inventory</name>
        <label>Get Inventory</label>
        <locationX>681</locationX>
        <locationY>87</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Modify_Inventory</targetReference>
        </connector>
        <filters>
            <field>ExternalId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Merchandise.Inventory__c</elementReference>
            </value>
        </filters>
        <object>Inventory__x</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>ExternalId</queriedFields>
        <queriedFields>Picture_Url__c</queriedFields>
        <queriedFields>Price__c</queriedFields>
        <queriedFields>Quantity__c</queriedFields>
        <queriedFields>Title__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Merchandise</name>
        <label>Get Merchandise</label>
        <locationX>537</locationX>
        <locationY>85</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Inventory</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>singleItem.Merchandise__c</elementReference>
            </value>
        </filters>
        <object>Merchandise__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Inventory__c</queriedFields>
        <queriedFields>Title__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Inventory</name>
        <label>Update Inventory</label>
        <locationX>585</locationX>
        <locationY>227</locationY>
        <connector>
            <targetReference>WWTime</targetReference>
        </connector>
        <filters>
            <field>ExternalId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InventoryItem.ExternalId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>InventoryItem.Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>InventoryItem.Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Picture_Url__c</field>
            <value>
                <elementReference>InventoryItem.Picture_Url__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>InventoryItem.Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <elementReference>InventoryItem.Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>InventoryItem.Title__c</elementReference>
            </value>
        </inputAssignments>
        <object>Inventory__x</object>
    </recordUpdates>
    <startElementReference>Get_Bundle_Items</startElementReference>
    <status>Active</status>
    <variables>
        <name>BundleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>a01B0000006sVP5IAM</stringValue>
        </value>
    </variables>
    <variables>
        <name>InventoryCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Inventory__x</objectType>
    </variables>
    <variables>
        <name>InventoryItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Inventory__x</objectType>
    </variables>
    <variables>
        <name>singleItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Bundle_Item__c</objectType>
    </variables>
    <waits>
        <name>WWTime</name>
        <label>WWTime</label>
        <locationX>403</locationX>
        <locationY>233</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>waitT</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Bundle_Item_Loop</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>waittime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>waitT</label>
        </waitEvents>
    </waits>
</Flow>
